body{
  background-color: white;
}

.navbar{
  background-color: #5E918A;
  color: #f0e5c7;
}
.navbar-brand{
  color: #14151B;
  font-weight: 500;
  font-size: 25px;
  transition: 0.3s color;
}

.login-button{
  background-color: #14151B;
  padding: 8px 16px;
  border-radius: 50px;
  color: #f0e5c7;
  text-decoration: none;
  transition: 0.3s background-color;
}
.login-button:hover{
  background-color: #2a2b33;
}

.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}
.nav-link{
  color: #14151B;
  font-weight: 500;
  position: relative;
}
.nav-link:hover, .nav-link.active{
  color:  #FC3E57;
}
@media (min-width: 992px){
  .nav-link::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color:  #FC3E57;
      visibility: hidden;
      transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before, .nav-link.active::before{
      width: 100%;
      visibility: visible;
  }
}

.offcanvas{
  background-color: #fc3e57;
}

.carousel-item img {
  height: 80vh; /* mitad de la altura visible del navegador es lo del view port*/
  width: 100%;          /* ocupa todo el ancho */
  object-fit: cover;    /* recorta para mantener proporción */
}
.carousel-caption {
  background-color:  #FC3E57; /* el CC al final lo hace semitransparente*/
  border-radius: 10px;
  padding: 10px;
}
/* Texto del caption */
.carousel-caption h5,
.carousel-caption p {
  color: black !important;
  text-shadow: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
