body {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    height: 100vh; /* ocupa toda la altura de la ventana */
    margin: 0;
}

.navbar{
  background-color: #5E918A;
  color: #f0e5c7;
}
.navbar-brand{
  color: #14151B;
  font-weight: 500;
  font-size: 25px;
  transition: 0.3s color;
}

.formulario{
    margin-top: 100px;
    width: 50%;
}

